

.float {
    /* botão chamada api whatsapp*/
  
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  
  }
  
  .float .btn-floating {
    width: 260px;
    height: auto;
    border-radius: 50px;
    text-align: center;
    font-size: 1.5em;
    background-color: #34af23;
  }
  
  @media only screen and (max-width: 400px) {
    .float .btn-floating {
      margin-left: -5em;
    }
  
    .float {
      right: auto;
      left: 200px;
    }
  }
  
  .pulse {
    position: relative;
    width: 350px;
    height: 76px;
    font-size: 1.5em;
    border: none;
    color: #FFF;
    box-shadow: 0 0 0 0 rgba(50, 205, 50, 0.7);
    border-radius: 25px;
    background-color: #32CD32;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1)
  }
  
  .pulse:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
  }
  
  .select_idade {
    padding: 0;
  }
  
  .desenvolvido_por {
    display: inline-block;
    margin-top: 5px;
  }
  
  .desenvolvido_por .text {
    position: relative;
    top: 2px;
  }
  
  .desenvolvido_porimg {
    height: 30px;
  }
  
  @-webkit-keyframes pulse {
    to {
      box-shadow: 0 0 0 45px rgba(50, 205, 50, 0);
    }
  }
  
  @-moz-keyframes pulse {
    to {
      box-shadow: 0 0 0 45px rgba(50, 205, 50, 0);
    }
  }
  
  @-ms-keyframes pulse {
    to {
      box-shadow: 0 0 0 45px rgba(50, 205, 50, 0);
    }
  }
  
  @keyframes pulse {
    to {
      box-shadow: 0 0 0 45px rgba(50, 205, 50, 0);
    }
  }
  
  
  .float {
    position: fixed;
    bottom: 20px;
    right: 100px;
    z-index: 1000;
  }
  
  .float .btn-floating {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    font-size: 0.3em;
    background-color: #34af23;
  
  }
  
  @media only screen and (max-width: 600px) {
    .float .btn-floating {
      margin-left: 4em ;
    }
  
    .float {
      right: auto;
      left: 200px;
    }
  }